body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  font-weight: bold;
  font-size: 15px;
}
.button_2{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 60px;
  cursor: pointer;
  
}
.dark{
  padding:15px;
  background:white;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:white;
  color:#ffffff;
  padding-top:10px;
  min-height:70px;
  border-bottom: rgb(255, 183, 01);
}

header a{
  color:black;
  text-decoration:none;
  text-transform: uppercase;
  font-size:22px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:50px;
}

header .highlight, header .current a{
  color:rgb(255, 183, 01);
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:500px;
  background:url('http://i66.tinypic.com/2nin12p.jpg') no-repeat 0 -200px;
  text-align:center;
  color:#ffffff;
  
}

#showcase h1{
  margin-top:120px;
  font-size:85px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

.logo{
  height:100px;
  width: 170px;
  margin-top: 15px;
  margin-left: 0px;
}
/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#50547c
}

#newsletter5{
  padding:15px;
  color:#ffffff;
  background:#50547c;
}
#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:150px;
}

.text{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  background-color: rgb(238, 172, 85);
  color: white;
  font-size: 16px;
  padding: 16px 32px
}
.text1{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  background-color: rgb(141, 185, 202);
  color: white;
  font-size: 16px;
  padding: 16px 32px
}
.text2{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  background-color: rgb(216, 149, 190);
  color: white;
  font-size: 16px;
  padding: 16px 32px
}
.text3{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  background-color: rgb(190, 181, 187);
  color: white;
  font-size: 16px;
  padding: 16px 32px
}
.box {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  /* border: 1px solid #e8491d; */
  margin-top: 20px;
  cursor: pointer;
  
  transition: background-color .5s;
}

.box:hover {
  background-color:rgb(245, 214, 112);;
}


/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 0 20px;
  margin-right: 50px;
  margin-bottom: 60px;
  text-align: center;
 
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -35px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
.card img{
  width:150px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.button23 {
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button23:hover {
  background: rgb(243, 198, 50);
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-right: 50px;
  margin-bottom: 10px;
  }
}


/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:rgb(255, 183, 01);
  text-align: center;
  font-weight: bold;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}














.flex-conteiner {
  margin-top: 15px;
  padding: 2em 1em;
  
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  
}

.flex-data {
  
  
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 0px;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
} 

.candys {

  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 0px;
  font-size: 20px;
  
}



@media(min-width: 360px){
  body{
      
      flex-direction: column;
  }
  header{
      background-size: 100%;
  }
  .option{
      flex-direction: column;
  }
  }
@media(min-width: 768px){
  body{
     
      flex-direction: column;

  }
}
@media(min-width: 1200px){
  body{
     
      flex-direction: column;
  }
  .option{
      display: block;
      position: absolute;
  }
} 

